<div class="inputBox" style="position: absolute; right: 1%; top: 50%;transform: translateY(-50%); background-color: gray; color: white;">
    <ul class="menuList">
        <li class="menuItem menuActive">
            Game Settings
        </li>
        <li class="menuItem">
            Stats
        </li>
        <li class="menuItem">
            Egg List
        </li>
        <li class="menuItem">
            Egg Gacha
        </li>
        <li class="menuItem">
            Community
        </li>
        <li class="menuItem">
            Save and Quit
        </li>
    </ul>
</div>