ul .mainMenuItem{
    list-style-type: none;
    font-size: 60px;
  }

  li.mainMenuItem:not(:last-child) { 
    margin-bottom: 10%;  
 }

.mainMenuList .mainMenuActive::marker {
    content: "▶";
  }